.move_j{
    position: fixed;
    top: 1500px;
    height: 300px;
    width: 300px;
    left: 85%;
    background-color: gray;
}
.move_l{
    position: fixed;
    top: 1500px;
    height: 300px;
    width: 300px;
    left: 2%;
    background-color: gray;
}
.move_r{
    position: fixed;
    top: 1500px;
    height: 300px;
    width: 300px;
    left: 15%;
    background-color: gray;
}